[submodule "Banana/vendor/spdlog"]
	path = Banana/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Banana/vendor/GLFW"]
	path = Banana/vendor/GLFW
	url = https://github.com/TheCherno/glfw
