[submodule "Banana/vendor/spdlog"]
	path = Banana/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Banana/vendor/GLFW"]
	path = Banana/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Banana/vendor/imgui"]
	path = Banana/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Banana/vendor/glm"]
	path = Banana/vendor/glm
	url = https://github.com/g-truc/glm
